<% if(true){ %>
<body>
	<div id="deactiveCart">
		<div id="name"><%= name %></div>
		<div id="size"><%= size %></div>
	</div>
	<div id="title">(주)충북제일종합주방</div>
	<div id="box">
		<div id="upCircle"></div>
		<div id="downCircle"></div>
		<div id="price"><%= price %></div>
		<div id="registered_date"><%= registered_date %></div>
	</div>
	<div id="cartArrow"></div>
	<div id="cartImg">
		<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24"><path fill="red" d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
	</div>
	<div id="activeCart">
		<div id="cookie"> 
			<% if(customerId === null){ %>
				<div id="noCookie">
					<form id="noCookieForm" action="http://localhost:5000/customer/basket" onsubmit="return checkQuantity()" method="post">
						<input id="mobilePlace" type="text" name="createCustomerId" placeholder="전화번호 입력 " />
						<input type="hidden" name="item_code" value="<%= item_code %>" />
						<input type="hidden" name="account_id" value="<%= account_id %>" />
						<input id="quantityValue" type="hidden" name="quantity" value="0" />
						<input id="submit" type="submit" value="담기" />
					</form>
				</div>
			<% }else{ %>
				<div id="yesCookie">어서오세요,<br><%= customerId %>님
					<form id="yesCookieForm" action="http://localhost:5000/customer/basket" onsubmit="return checkQuantity()" method="post">
						<input type="hidden" name="readCustomerId" value="<%= customerId %>" />
						<input type="hidden" name="item_code" value="<%= item_code %>" />
						<input type="hidden" name="account_id" value="<%= account_id %>" />
						<input id="quantityValue" type="hidden" name="quantity" value="0" />
						<input id="submit" type="submit" value="담기" />
					</form>
				</div>
			<% } %>
		</div>
		<div id="quantityIndicator"><span id="quantityShow"></span>개</div>
		<div id="upBtn"></div>
		<div id="downBtn"></div>
	</div>
	<div id="bottomSpace"></div>

</body>
<% } %>
<script type="text/javascript" src="/js/pricetag.js"></script>
<link rel="stylesheet" href="/css/pricetag.css">
