<!DOCTYPE html>
<div id="barcodeBox">
	<svg id="barcode">
	</svg>
	<div id="introBarcode">바코드</div>
	<div id="lengthOfList">총 <%= inCart.length %>개</div>
</div>
<div id="list">
	<% for(var i=0; i<inCart.length; i++){ %>
		<% if(i%2 !== 1){ %>
			<div class="oddLine list">
				<%= inCart[i].name %>
				<span class="quantity"><%= inCart[i].quantity %>개</span>
				<input type="hidden" name="barcode" value="<%= inCart[i].barcode %>" />
			</div>
		<% }else{ %>
			<div class="evenLine list">
				<%= inCart[i].name %>
				<span class="quantity"><%= inCart[i].quantity %>개</span>
				<input type="hidden" name="barcode" value="<%= inCart[i].barcode %>" />
			</div>
		<% } %>
	<% } %>
	<div id="listSpacer"></div>
</div>
<div id="bottomBorder">
	<div id="title"><%= customerId %></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.4/dist/JsBarcode.all.min.js"></script>
<script type="text/javascript" src="/js/readVisitor.js"></script>
<link rel="stylesheet" href="/css/readVisitor.css">
