<% if(true){ %>
<div id="barcodeBox">
	<div id="barcode">
	</div>
</div>
<div id="list">
	<div id="lengthOfList">총 <%= inCart.length %>개</div>
	<% for(var i=0; i<inCart.length; i++){ %>
		<% if(i%2 !== 1){ %>
			<div class="oddLine">
				<%= inCart[i].name %>
				<span class="quantity"><%= inCart[i].quantity %>개</span>
			</div>
		<% }else{ %>
			<div class="evenLine">
				<%= inCart[i].name %>
				<span class="quantity"><%= inCart[i].quantity %>개</span>
			</div>
		<% } %>
	<% } %>
</div>
<div id="bottomBorder">
	<div id="title"><%= customerId %><span id="subTitle">님의<br>장바구니</span></div>
</div>
<% } %>

<script type="text/javascript" src="/js/readVisitor.js"></script>
<link rel="stylesheet" href="/css/readVisitor.css">
